.container-table {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  background-color: #e8e9ef;
}

.bottom-indent2 {
  margin-bottom: 50px;
}

.page-content {
  color: #3e4264;
}

.main_blocks2 {
  width: 100%;
  display: grid;
  grid-template-columns: 225px auto;
  box-sizing: border-box;
}

.page-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.semester {
  color: #747fa0;
  font-size: 16px;
  font-weight: 600;
}

.circles {
  display: flex;
  flex-direction: row;
  gap: 5px;
  border: 1px solid #8c99b9;
  padding: 10px 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-sizing: border-box;
}

a.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /*background-color: #fff;
  border: 2px solid #D8DEE8;*/
  line-height: 40px;
  font-size: 16px;
  color: #747fa0;
  font-weight: 400;
  box-sizing: border-box;
}

a.circle:hover {
  background-color: #ebedfe;
}

.circle.active {
  background-color: #d8dee8;
}

.table {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}

.block-type {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.block-table-conteiner {
  padding: 20px 70px;
}

.block-header {
  width: 100%;
  height: 25px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
}

.labels1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.text-table {
  width: 50px;
  text-align: center;
}

.text-table-discipline {
  width: auto;
}

.title-table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.block-type {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.text-table {
  width: 50px;
  text-align: center;
}

.text-table-discipline {
  width: auto;
}

.title-table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.block-type1 {
  background-color: #ebedfe;
}

.block-type2 {
  background-color: #ffffff;
}

.block-type3 {
  background-color: #5957be;
}

.block-table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #3e4264;
  align-items: center;
}

.labels1-indentation {
  display: flex;
  align-items: center;
}

.block-footer {
  width: 100%;
  height: 25px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
}

/* MOBILE */
@media (max-width: 480px) {
  /* Відступи */
  .bottom-indent2 {
    margin-bottom: 30px;
  }

  .semester {
    font-size: 14px;
  }

  .circles {
    gap: 2px;
    width: 100%;
  }

  a.circle {
    width: 22px;
    height: 22px;
    /*border: 1px solid #D8DEE8;*/
    font-size: 12px;
  }

  .page-switcher {
    margin-bottom: 30px;
  }

  .block-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .block-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .block-table-conteiner {
    padding: 10px 5px;
  }

  .table {
    font-size: 12px;
  }

  .labels1 {
    gap: 5px;
  }

  .text-table {
    width: 30px;
  }
}

/* LANDSCAPE MODE */
@media (min-width: 480px) and (max-width: 720px) {
  .block-table-conteiner {
    padding: 20px 10px;
  }

  .text-table {
    width: 30px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .table {
    font-size: 14px;
  }
}

/* TABLET */
@media (min-width: 720px) and (max-width: 1024px) {
  .block-table-conteiner {
    padding: 20px 20px;
  }
}

/* LAPTOP */
@media (min-width: 1024px) and (max-width: 1440px) {
  .table {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  .main_blocks2 {
    display: block;
  }
}

.header2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Блоки, які необхідно винести в окремі файли html коли буде хостинг */
.hamburger-menu {
  width: 42px;
  height: 42px;
  border-radius: 5px;
  background-color: #d8dee8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.name-human-page {
  width: 45%;
  height: auto;
  box-sizing: border-box;
  background-color: #5957be;
  border-radius: 27px 0px 0px 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 90px 15px 20px;
}

.fio-human-text {
  height: auto;
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

@media (max-width: 1440px) {
  .hamburger-menu {
    display: none;
  }
}

@media (min-width: 1440px) {
  .name-human-page {
    display: none;
  }
}

@media (max-width: 480px) {
  .current-date-header {
    display: none;
  }

  .name-human-page {
    width: 80%;
    right: 0;
    margin-left: auto;
    font-size: 14px;
    margin-right: -15px;
    padding: 10px 15px 10px 20px;
  }
}

@media (min-width: 480px) and (max-width: 720px) {
  .name-human-page {
    margin-right: -50px;
    padding: 15px 50px 15px 20px;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  .name-human-page {
    margin-right: -80px;
    padding: 15px 80px 15px 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .name-human-page {
    margin-right: -90px;
  }
}
