/* Контент головної сторінки */
/* header */
.main_blocks {
  width: 100%;
  display: grid;
  grid-template-columns: 225px auto 350px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-indent {
  margin-bottom: 50px;
}

/* section 1 */
.section1 {
  display: grid;
  grid-template-columns: auto 55%;
  grid-column-gap: 50px;
}

.personal-section {
  background-color: #fbfbfb;
  border-radius: 20px;
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #383763;
}

a.button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f7f7fa;
  width: 117px;
  height: 26px;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  color: #ababab;
}

a.button:hover {
  background-color: #9eacc1;
  color: #ffffff;
}

.block_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chat-list {
  height: auto;
  display: grid;
  grid-template-rows: 4fr;
  grid-row-gap: 15px;
}

a.chat {
  display: flex;
  align-items: center;
  height: 41px;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
}

a.color-block-home {
  background-color: #edf2ff;
}

a.color-block-home:hover {
  background-color: #d4ddf5;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  color: #5957be;
  font-size: 15px;
  font-weight: 400;
}

.chat-link {
  margin-left: auto;
}

.blog-list {
  height: auto;
  display: grid;
  grid-template-rows: 2fr;
  grid-row-gap: 15px;
}

a.blog-post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 97px;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  box-sizing: border-box;
}

.post-image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 15px;
}

.block-post-content {
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
}

.post-content {
  display: flex;
  flex-direction: row;
  height: auto;
}

.post-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-line1 {
  color: #5957be;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.title-line2 {
  color: #52588b;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.post-description {
  color: #3e4264;
  font-size: 10px;
  font-weight: 400;
  margin-left: 55px;
}

/* section 2 */
.slider-container {
  overflow-x: auto;
}

.slider {
  width: calc(100% - 40px);
  display: flex;
  grid-column-gap: 20px;
  margin-bottom: 10px;
}

.slider-container::-webkit-scrollbar {
  width: 11px;
  height: 6px;
}

.slider-container::-webkit-scrollbar-thumb {
  background-color: #c6cfe1;
  border-radius: 3px;
}

.slider-container::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 3px;
  margin: 0px 20px 0px 20px;
}

a.slide {
  flex: 0 0 auto;
  width: calc(100% / 3);
}

.content-block {
  height: auto;
  border-radius: 23px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.block-color1 {
  background-color: #7799d7;
}

.block-color2 {
  background-color: #837cd4;
}

.block-color3 {
  background-color: #b37ecd;
}

a.slide .block-color1:hover {
  background-color: #5b81c5;
}

a.slide .block-color2:hover {
  background-color: #6c64c9;
}

a.slide .block-color3:hover {
  background-color: #9157ad;
}

.label-text {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}

.avatars {
  display: flex;
  align-items: center;
  margin: 15px 0px 15px 0px;
}

.avatars img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.block-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.text-info-details-count,
.text-info-details-user {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.icon-image-details {
  width: 20px;
  height: 20px;
}

.file-count,
.user {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.avatar-group {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.avatar-group img,
.avatar-add {
  position: relative;
  margin-right: -10px;
}

.avatar-group img:nth-child(1) {
  z-index: 3;
}
.avatar-group img:nth-child(2) {
  z-index: 2;
}
.avatar-group img:nth-child(3) {
  z-index: 1;
}

.avatar-add {
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #7799d7;
  text-align: center;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.arrow_link {
  width: 5px;
  height: 7px;
  color: #9eacc1;
}

.button2 {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ffffff;
  width: 132px;
  height: 29px;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 13px;
  color: #9eacc1;
}

a.button2:hover {
  background-color: #9eacc1;
  color: #ffffff;
}

.number-participants {
  display: flex;
  gap: 2px;
}

.text-number-participants {
  font-size: 14px;
  font-weight: 600;
}

.text-color1 {
  color: #7799d7;
}

.text-color2 {
  color: #837cd4;
}

.text-color3 {
  color: #b37ecd;
}

/* section 3 */
.schedule {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 3fr;
  grid-row-gap: 15px;
}

.lesson {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  flex-direction: column;
  grid-row-gap: 3px;
}

.lesson-content-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.lesson-time {
  color: #52588b;
  font-size: 16px;
  font-weight: 400;
  justify-self: flex-end;
}

.lesson-title-line1 {
  color: #5957be;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.lesson-title-line2 {
  color: #383763;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.lesson-title-line3 {
  color: #52588b;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.wrapper_mobile {
  width: 100%;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper_mobile header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;
}

header .icons {
  display: flex;
}

header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

header .icons span:hover {
  background: #f2f2f2;
}

header .current-date_mobile {
  font-size: 1.45rem;
  font-weight: 500;
  overflow: hidden; /* Додаємо властивість overflow для уникнення виходу тексту за межі */
}

.calendar_mobile {
  padding: 10px 20px;
}

.calendar_mobile ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar_mobile .days_mobile {
  margin-bottom: 20px;
}

.calendar_mobile li {
  color: #333;
  width: calc(100% / 7);
  font-size: 20px; /* Зменшуємо розмір шрифту для чисел */
}

.calendar_mobile .weeks_mobile li {
  font-weight: 500;
  cursor: default;
  font-size: 20px; /* Збільшуємо розмір шрифту для днів тижня */
}

header .current-date_mobile {
  color: black;
  font-size: 26px; /* Збільшуємо розмір шрифту для місяця і року */
}

.days_mobile li.inactive {
  color: #aaa;
}

.days_mobile li.active {
  color: #fff;
  background: #66afda;
  border-radius: 5px;
}

.days_mobile li::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days_mobile li:not(.active):hover::before {
  background: #f2f2f2;
}

@media (max-width: 720px) {
  /* section 2 */
  .slider {
    width: calc(100% - 20px);
    margin-bottom: 15px;
  }

  a.slide {
    width: calc(100% / 2);
  }
}

@media (max-width: 850px) {
  .section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .slide {
    flex: 0 0 auto;
    width: calc(100% / 2);
  }
}

@media (max-width: 1024px) {
  /** {
    overflow: hidden;
  }*/

  .container {
    padding: 70px;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  /* Відступи */
  .bottom-indent {
    margin-bottom: 30px;
  }

  /* Нагадування */
  .title-information {
    font-size: 14px;
  }

  .reminders_mobile {
    display: flex;
    margin-top: 30px;
  }

  .reminders {
    display: flex;
    flex-direction: column;
  }

  .reminder-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .rem_block {
    display: flex;
    opacity: 1;
  }

  .rem_block:last-child {
    opacity: 0.5;
  }

  .rem_block_content {
    display: flex;
    align-items: center;
  }

  .rem-button {
    width: 40px;
    height: 40px;
    background-color: #edf2ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .rem_icon {
    width: 23px;
    height: 23px;
  }

  .rem_text {
    display: flex;
    flex-direction: column;
  }

  .rem_block_title {
    color: #5957be;
    font-size: 12px;
  }

  .rem_block_info {
    font-size: 9px;
    color: gray;
  }

  /* section 1 */
  .title {
    font-size: 14px;
  }

  a.button {
    height: 22px;
    font-size: 11px;
  }

  .chat-list {
    grid-row-gap: 10px;
  }

  .name {
    font-size: 13px;
  }

  .blog-list {
    grid-row-gap: 10px;
  }

  a.blog-post {
    height: 80px;
  }

  .title-line1 {
    font-size: 13px;
  }

  .title-line2 {
    font-size: 11px;
  }

  .post-description {
    font-size: 9px;
  }

  /* section 2 */
  .label-text {
    font-size: 11px;
  }

  .content-block {
    border-radius: 15px;
    padding: 15px;
  }

  .file-count,
  .user {
    font-size: 9px;
  }

  .avatars img {
    width: 21px;
    height: 21px;
  }

  .avatar-group img,
  .avatar-add {
    margin-right: -6px;
  }

  .avatar-add {
    width: 21px;
    height: 21px;
  }

  .number-participants {
    gap: 0px;
  }

  .text-number-participants {
    font-size: 7px;
  }

  .icon-image-details {
    width: 14px;
    height: 14px;
  }

  .title-line3 {
    font-size: 11px;
  }

  /* section 3 */
  .button2 {
    width: 90px;
    height: 18px;
    font-size: 8px;
  }

  .schedule {
    grid-row-gap: 10px;
  }

  .lesson {
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    grid-row-gap: 0px;
  }

  .lesson-time {
    font-size: 10px;
  }

  .lesson-title-line1 {
    font-size: 11px;
  }

  .lesson-title-line2 {
    font-size: 9px;
  }

  .lesson-title-line3 {
    font-size: 9px;
  }

  /* Календар */
  .wrapper_mobile {
    display: flex;
    overflow: hidden;
    padding: 0px 20px;
    box-sizing: border-box;
  }

  .title-information {
    font-size: 18px;
    font-weight: 500;
    color: #383763;
  }

  .title-information-bottom {
    margin-bottom: 15px;
  }

  .wrapper {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 10px;
  }

  header .icons {
    display: flex;
  }

  header .icons span {
    height: 26px;
    width: 26px;
    background-color: #ffffff;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.3rem;
    user-select: none;
    border-radius: 10px;
    border: 1px solid #d8dee8;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .icons span:hover {
    background: #d8dee8;
    color: #ffffff;
    border: 1px solid #a2aab8;
  }

  header .current-date {
    overflow: hidden;
  }

  .calendar {
    box-sizing: border-box;
  }

  .calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }

  .calendar .days {
    grid-row-gap: 10px;
  }

  .calendar li {
    color: #747fa0;
    width: calc(100% / 7);
    height: 24px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calendar .weeks li {
    font-weight: 500;
    cursor: default;
    font-size: 14px;
    margin-bottom: 10px;
    color: #4d597e;
  }

  .days li.inactive {
    color: #dedede;
  }

  .days li.active {
    color: #fff;
    background: #678adb;
    border-radius: 5px;
  }

  .days li::before {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    height: 24px;
    width: 24px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .days li.active::before {
    background: #9b59b6;
  }

  .days li:not(.active):hover::before {
    background: #f2f2f2;
  }

  header .current-date {
    overflow: hidden;
  }
  .current-date {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .text-info-details-user {
    flex-direction: column;
  }
}

@media (max-width: 1440px) {
  .main_blocks {
    display: block;
  }
}
